body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header-nav {
    background-color: #ffffff;
    padding: 20px;
  }
  .header-top {
    background-color: #f2f2f2;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  
  .logo {
    position: relative;
    height: 100%; /* Ajustar altura al 100% del header-top */
  }
  
  .logo img {
    width: 154px;
    height: 154px;
    object-fit: contain; /* Ajustar el tamaño de la imagen sin distorsión */
  }
  
  .title {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    white-space: nowrap;
  }
  
  .title h1 {
    font-size: 60px;
    margin: 0;
  }
  
  .title p {
    font-size: 14px;
    margin: 40px 0;
  }
  
  
  nav {
    position: relative;
  }
  
  nav:before,
  nav:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
  }
  
  nav:before {
    top: calc(0% - 20px);
  }
  
  nav:after {
    bottom: calc(0% - 20px);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 30px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li:hover {
    text-decoration: underline;
  }

  main {
    padding: 20px;
  }

  main h2{
    font-size: 40px;
  }

  main p{
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: justify;

  }
  
  .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
  
  .carrera {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 30px;
    background-color: #f2f2f2;
    padding: 20px;
    position: relative;
    margin-right: 10px;
    cursor: pointer;

  }

  .carrera:hover {
    background-color: #676767; 
  }

  .carrera.seleccionado {
    background-color: rgb(39, 233, 39);
  }
  .carrera.seleccionado:hover {
    background-color: rgb(23, 81, 23);
  }
  
  
  .carrera h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }

  main ul {
    list-style-type: decimal;
    width: 80%;
    display: block;
    margin: 0 auto;
    text-align: justify;
    font-size: 18px;
  }

  main ul li {
    margin-bottom: 20px;
  }

  .basico {
    display: block;
  }

  .agregar-button{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background-color: #59b4f0;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
  }