body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header-nav {
    background-color: #ffffff;
    padding: 20px;
  }
  .header-top {
    background-color: #f2f2f2;
    padding: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  
  .logo {
    position: relative;
    height: 100%; /* Ajustar altura al 100% del header-top */
  }
  
  .logo img {
    width: 154px;
    height: 154px;
    object-fit: contain; /* Ajustar el tamaño de la imagen sin distorsión */
  }
  
  .title {
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    white-space: nowrap;
  }
  
  .title h1 {
    font-size: 60px;
    margin: 0;
  }
  
  .title p {
    font-size: 14px;
    margin: 40px 0;
  }
  
  
  nav {
    position: relative;
  }
  
  nav:before,
  nav:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
  }
  
  nav:before {
    top: calc(0% - 20px);
  }
  
  nav:after {
    bottom: calc(0% - 20px);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-right: 30px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li:hover {
    text-decoration: underline;
  }
  
  .content {
    padding: 20px;
  }

  .content h2{
    font-size: 30px;
    margin-left: 40px 0;
  }
  
  .university-list {
    display: flex;
  }
  
  .university-item {
    margin-right: 20px;

  }
  
  .university-item img {
    width: 450px;
    height: 250px;
    border: 2px solid transparent;
    transition: border-color 0.3s;
  }

  .university-item img:hover{
    border-color: #000;
  }

  
  .university-item p {
    margin-top: 10px;
    text-align: center;
  }
  
  /* Agrega más estilos según sea necesario */
  